<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoicon1"
        android:label="Go Space"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoSpace_IPT"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".RoomAccptDecline"
            android:exported="false" />
        <activity
            android:name=".RoomManager1"
            android:exported="false" />
        <activity
            android:name=".TermsCondition"
            android:exported="false" />
        <activity
            android:name=".UserRequestRoom"
            android:exported="false" />
        <activity
            android:name=".UserViewerPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminUserInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddUserAccnt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddRoomAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminAccntSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminRegister"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GSOViewPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminViewpage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminSignIn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityOnboarding"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseUser"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>